body {
    background-color: black;
}

body p {
    color: rgb(128, 128, 41);
}

body h1 {
    color: #ffffff;
}

body h2 {
    color: #c5c3cf;
}

.page-header {
    background-color: rgb(31, 31, 75);
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.content {
    margin: 30px;
}

h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: rgb(203, 250, 203);
    float: right;
    font-size: 40pt;
    margin-right: 50px;
}

.post {
    margin-bottom: 30px;
    border-bottom: solid 2px rgb(31, 31, 75);
    margin-left: 70px;
}

.post h2 a, .post h2 a:visited {
    color: #c5c3cf;
}

.post p {
    color: rgb(128, 128, 41);
}

.date p {
    color: #c5c3cf;
}
